{
  "env": {
    "es2020": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["sonarjs"],
  "extends": [
    "airbnb-base",
    "plugin:import/recommended",
    "plugin:sonarjs/recommended",
    "prettier"
  ],
  "rules": {
    "default-param-last": "off",
    "new-cap": "off",
    "no-console": "error",
    "no-underscore-dangle": "off",
    "no-template-curly-in-string": "off",
    "max-classes-per-file": "off",
    "max-len": "off",
    "import/prefer-default-export": "off",
    "import/extensions": ["error", "always"],
    "sonarjs/cognitive-complexity": ["warn", 15],
    "sonarjs/no-duplicate-string": "off"
  },
  "overrides": [
    {
      "files": ["generateEsModulesFromJson.cjs"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["./test/**/*"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "requireConfigFile": false,
        "ecmaVersion": 2020
      },
      "env": {
        "jest": true
      },
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
