{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-await-in-loop": "off",
    "no-console": 0,
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["ret"] }
    ],
    "no-underscore-dangle": [
      "error",
      { "allow": ["_id", "_isBigNumber", "_websocket"] }
    ],
    "max-len": "off",
    "max-classes-per-file": "off"
  }
}
